[Unit]
Description=Design Analysis Streamlit Frontend
After=network.target
Wants=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/aas
Environment=PATH=/home/ec2-user/aas/venv/bin
ExecStart=/home/ec2-user/aas/venv/bin/python run_streamlit.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
